
@{
    Layout = null;
}
<script>
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
    });
</script>
<link href="~/Content/Css/Shared/AccessDenied.css" rel="stylesheet" />
<div class="access_denied_container">
    <div class="access_denied_inner">
        <i class="fa fa-ban"></i>
        <div class="access_denied_header">We're sorry!</div>
        <div class="access_denied_text">You don't have access rights to view this data.</div>
        <div class="btn"><a href="/" class="btn btn-danger">Go Home</a></div>
    </div>
</div>