@{
    Layout = null;
}
@Styles.Render("~/styles/Modals")
@Scripts.Render("~/scripts/Modals")
<div class="ModalListDiv">
    <div style="display:none">
        <button type="button" id="RightToLeftModal" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Right-To-Left-Modal-Body">Open Modal</button>
        <button type="button" id="RightToLeftModal1" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Right-To-Left-Modal-Body1">Open Modal</button>
        <button type="button" id="RightToLeftBigModal" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Right-To-Left-big-Modal-Body">Open Modal</button>
        <button type="button" id="RightToLeftModalMMR" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Right-To-Left-Modal-Body-MMR">Open Modal</button>
        <button type="button" id="ConfirmationMessageModal" class="btn btn-info btn-lg" data-toggle="modal" data-target="#ModalConfirmationMessage">Open Modal</button>
        <button type="button" id="SuccessMessageModal" class="btn btn-info btn-lg" data-toggle="modal" data-target="#ModalSuccessMessage">Open Modal</button>
        <button type="button" id="OpenTextModal" class="btn btn-info btn-lg" data-toggle="modal" data-target="#ModalOpenText">Open Modal</button>
       
        <button type="button" id="ErrorMessageModal" class="btn btn-info btn-lg" data-toggle="modal" data-target="#ModalErrorMessage">Open Modal</button>
        <button type="button" id="CancelCustomerModal" class="btn btn-info btn-lg" data-toggle="modal" data-target="#ModalCancelCustomer">Open Modal</button>
    </div>
    <div class="modal fade" id="ModalSuccessMessage" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header message_header_container">
                    <button type="button" class="closenew" data-dismiss="modal" onclick="DefaultSuccessfunc(true);">&times;</button>
                    <div class="message_header_border"></div>
                    <span class="modal-title message_header_title">Company Change verification.!</span>
                </div>
               <div class="message_middle_icon_div">
                   <div class="message_middle_icon"><i class="fa fa-check"></i></div>
               </div>
                <div class="others-body message_content_div">
                    <div class="cus-body">
                        <p>ModalSuccessMessage.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="__ConfirmationMessageModal_" onclick="DefaultSuccessfunc(true);" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModalOpenText" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header message_header_container">
                    <button type="button" class="closenew" data-dismiss="modal" onclick="DefaultSuccessfunc(true);">&times;</button>
                    <div class="message_header_border"></div>
                    <span class="modal-title message_header_title">Company Change verification.!</span>
                </div>
                <div class="message_middle_icon_div">
                    <div class="message_middle_icon"><i class="fa fa-check"></i></div>
                </div>
                <div class="others-body message_content_div">
                    <div class="cus-body">
                        <p>ModalSuccessMessage.</p>
                    </div>
                </div>
                <div class="others-body message_content_div">
                    <div class="cus-body">
                        <input type="password" id="CustomerOTP"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="__ConfirmationMessageModal_" onclick="DefaultSuccessfunc(true);" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    

    <div class="modal fade" id="ModalConfirmationMessage" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content success-content">
                <div class="modal-header message_header_container">
                    <button type="button" class="closenew" data-dismiss="modal">&times;</button>
                    <div class="message_header_border"></div>
                    <span class="modal-title success-title message_header_title">Delete Confirmation Message.!</span>
                </div>
                <div class="message_middle_icon_div">
                    <div class="message_middle_icon"><i class="fa fa-question"></i></div>
                </div>
                <div class="success-body message_content_div">
                    <div class="cus-body">
                        <p>Are you sure you want to Delete product category?.</p>
                    </div>
                </div>
                <div class="modal-footer success-footer">
                    <button type="button" class="btn btn-no" onclick="DefaultConfirmationRejectfunc()" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-green" onclick="DefaultConfirmationfunc()" data-dismiss="modal" id="btn_yes">Yes</button>
                </div>
            </div>
        </div>
    </div>
  
    <div class="modal fade" id="ModalErrorMessage" style="z-index:9999999!important;" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header message_header_container">
                    <button type="button" class="closenew" data-dismiss="modal" onclick="DefaultErrorfunc();">&times;</button>
                    <div class="message_header_border"></div>
                    <span class="modal-title message_header_title">Company Change verification.!</span>
                </div>
                <div class="message_middle_icon_div">
                    <div class="message_middle_icon"><i class="fa fa-times"></i></div>
                </div>
                <div class="others-body message_content_div">
                    <div class="cus-body">
                        <p class="error-body">ModalSuccessMessage.</p>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <div class="error-foot">
                        <button type="button" class="btn btn-default" onclick="DefaultErrorfunc();" data-dismiss="modal">Close</button>
                     </div>
                </div>
            </div>
        </div>
    </div>

    <div class="TopToBottomModal">
        <div class="modal_transparent_bg"></div>
        <div class="top_to_bottom_modal_container">
            <div class="header-other-right-menu">
                <div onclick="CloseTopToBottomModal()" class="close-div">
                    <img class="close_btn_size" title="Close" src="~/Content/Icons/cross.png" />
                </div>
            </div>
            <div class="ContentsDiv">

            </div>
        </div>
    </div>

     <div class="modal right fade" id="Right-To-Left-Modal-Body" style="z-index:999997!important;" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> 
                </div>

                <div class="modal-body">
                     
                </div>

            </div>
        </div>
    </div>

    <div class="modal right fade" id="Right-To-Left-Modal-Body-MMR" style="z-index:999999!important;" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">

                </div>

            </div>
        </div>
    </div>

    <div class="modal right fade" id="Right-To-Left-big-Modal-Body" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" id="modal-dialog-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">

                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalCancelCustomer" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="width:100%">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title cancel-title">Rolled over Customer!</h4>
                </div>
                <br />
                <br />
                <div class="others-body cancel-body">
                    <div class="cus-body" style="padding-top: 15px;">
                        <p>Reason @Html.TextArea("CustomerCancel",new { @class = "form-control CustomerCancel" })</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnCancelCustomer" onclick="DefaultCancelCustomerfunc(true);" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>