@-webkit-keyframes uilsquare {
    0% {
        background-color: #a640bf;
    }

    1% {
        background-color: #ec17ff;
    }

    11% {
        background-color: #ec17ff;
    }

    21% {
        background-color: #a640bf;
    }

    100% {
        background-color: #a640bf;
    }
}

@-webkit-keyframes uilsquare {
    0% {
        background-color: #a640bf;
    }

    1% {
        background-color: #ec17ff;
    }

    11% {
        background-color: #ec17ff;
    }

    21% {
        background-color: #a640bf;
    }

    100% {
        background-color: #a640bf;
    }
}

@-moz-keyframes uilsquare {
    0% {
        background-color: #a640bf;
    }

    1% {
        background-color: #ec17ff;
    }

    11% {
        background-color: #ec17ff;
    }

    21% {
        background-color: #a640bf;
    }

    100% {
        background-color: #a640bf;
    }
}

@-ms-keyframes uilsquare {
    0% {
        background-color: #a640bf;
    }

    1% {
        background-color: #ec17ff;
    }

    11% {
        background-color: #ec17ff;
    }

    21% {
        background-color: #a640bf;
    }

    100% {
        background-color: #a640bf;
    }
}

@-moz-keyframes uilsquare {
    0% {
        background-color: #a640bf;
    }

    1% {
        background-color: #ec17ff;
    }

    11% {
        background-color: #ec17ff;
    }

    21% {
        background-color: #a640bf;
    }

    100% {
        background-color: #a640bf;
    }
}

@-webkit-keyframes uilsquare {
    0% {
        background-color: #a640bf;
    }

    1% {
        background-color: #ec17ff;
    }

    11% {
        background-color: #ec17ff;
    }

    21% {
        background-color: #a640bf;
    }

    100% {
        background-color: #a640bf;
    }
}

@-o-keyframes uilsquare {
    0% {
        background-color: #a640bf;
    }

    1% {
        background-color: #ec17ff;
    }

    11% {
        background-color: #ec17ff;
    }

    21% {
        background-color: #a640bf;
    }

    100% {
        background-color: #a640bf;
    }
}

@keyframes uilsquare {
    0% {
        background-color: #a640bf;
    }

    1% {
        background-color: #ec17ff;
    }

    11% {
        background-color: #ec17ff;
    }

    21% {
        background-color: #a640bf;
    }

    100% {
        background-color: #a640bf;
    }
}

/*Loader Old Version*/
.uil-squares-css {
    background: none;
    position: relative;
    width: 200px;
    height: 200px;
}

    .uil-squares-css div {
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 40px;
        background-color: #a640bf;
    }

        .uil-squares-css div > div {
            position: absolute;
            top: 0;
            left: 0;
            -ms-animation: uilsquare 1s linear infinite;
            -moz-animation: uilsquare 1s linear infinite;
            -webkit-animation: uilsquare 1s linear infinite;
            -o-animation: uilsquare 1s linear infinite;
            animation: uilsquare 1s linear infinite;
            width: 40px;
            height: 40px;
        }

    .uil-squares-css > div:nth-of-type(1) {
        top: 30px;
        left: 30px;
    }

        .uil-squares-css > div:nth-of-type(1) > div {
            -ms-animation-delay: 0s;
            -moz-animation-delay: 0s;
            -webkit-animation-delay: 0s;
            -o-animation-delay: 0s;
            animation-delay: 0s;
        }

    .uil-squares-css > div:nth-of-type(2) {
        top: 30px;
        left: 80px;
    }

        .uil-squares-css > div:nth-of-type(2) > div {
            -ms-animation-delay: 0.125s;
            -moz-animation-delay: 0.125s;
            -webkit-animation-delay: 0.125s;
            -o-animation-delay: 0.125s;
            animation-delay: 0.125s;
        }

    .uil-squares-css > div:nth-of-type(3) {
        top: 30px;
        left: 130px;
    }

        .uil-squares-css > div:nth-of-type(3) > div {
            -ms-animation-delay: 0.25s;
            -moz-animation-delay: 0.25s;
            -webkit-animation-delay: 0.25s;
            -o-animation-delay: 0.25s;
            animation-delay: 0.25s;
        }

    .uil-squares-css > div:nth-of-type(4) {
        top: 80px;
        left: 130px;
    }

        .uil-squares-css > div:nth-of-type(4) > div {
            -ms-animation-delay: 0.375s;
            -moz-animation-delay: 0.375s;
            -webkit-animation-delay: 0.375s;
            -o-animation-delay: 0.375s;
            animation-delay: 0.375s;
        }

    .uil-squares-css > div:nth-of-type(5) {
        top: 130px;
        left: 130px;
    }

        .uil-squares-css > div:nth-of-type(5) > div {
            -ms-animation-delay: 0.5s;
            -moz-animation-delay: 0.5s;
            -webkit-animation-delay: 0.5s;
            -o-animation-delay: 0.5s;
            animation-delay: 0.5s;
        }

    .uil-squares-css > div:nth-of-type(6) {
        top: 130px;
        left: 80px;
    }

        .uil-squares-css > div:nth-of-type(6) > div {
            -ms-animation-delay: 0.625s;
            -moz-animation-delay: 0.625s;
            -webkit-animation-delay: 0.625s;
            -o-animation-delay: 0.625s;
            animation-delay: 0.625s;
        }

    .uil-squares-css > div:nth-of-type(7) {
        top: 130px;
        left: 30px;
    }

        .uil-squares-css > div:nth-of-type(7) > div {
            -ms-animation-delay: 0.75s;
            -moz-animation-delay: 0.75s;
            -webkit-animation-delay: 0.75s;
            -o-animation-delay: 0.75s;
            animation-delay: 0.75s;
        }

    .uil-squares-css > div:nth-of-type(8) {
        top: 80px;
        left: 30px;
    }

        .uil-squares-css > div:nth-of-type(8) > div {
            -ms-animation-delay: 0.875s;
            -moz-animation-delay: 0.875s;
            -webkit-animation-delay: 0.875s;
            -o-animation-delay: 0.875s;
            animation-delay: 0.875s;
        }
/*---End---*/

/*Loader Update Version*/
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.lds-spinner {
    position: relative;
}

    .lds-spinner div {
        left: 94px;
        top: 48px;
        position: absolute;
        -webkit-animation: lds-spinner linear 1s infinite;
        animation: lds-spinner linear 1s infinite;
        background: #0055a5;
        width: 12px;
        height: 24px;
        border-radius: 40%;
        -webkit-transform-origin: 6px 52px;
        transform-origin: 6px 52px;
    }

        .lds-spinner div:nth-child(1) {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-animation-delay: -0.916666666666667s;
            animation-delay: -0.916666666666667s;
        }

        .lds-spinner div:nth-child(2) {
            -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
            -webkit-animation-delay: -0.833333333333333s;
            animation-delay: -0.833333333333333s;
        }

        .lds-spinner div:nth-child(3) {
            -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
            -webkit-animation-delay: -0.75s;
            animation-delay: -0.75s;
        }

        .lds-spinner div:nth-child(4) {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            -webkit-animation-delay: -0.666666666666667s;
            animation-delay: -0.666666666666667s;
        }

        .lds-spinner div:nth-child(5) {
            -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
            -webkit-animation-delay: -0.583333333333333s;
            animation-delay: -0.583333333333333s;
        }

        .lds-spinner div:nth-child(6) {
            -webkit-transform: rotate(150deg);
            transform: rotate(150deg);
            -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
        }

        .lds-spinner div:nth-child(7) {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            -webkit-animation-delay: -0.416666666666667s;
            animation-delay: -0.416666666666667s;
        }

        .lds-spinner div:nth-child(8) {
            -webkit-transform: rotate(210deg);
            transform: rotate(210deg);
            -webkit-animation-delay: -0.333333333333333s;
            animation-delay: -0.333333333333333s;
        }

        .lds-spinner div:nth-child(9) {
            -webkit-transform: rotate(240deg);
            transform: rotate(240deg);
            -webkit-animation-delay: -0.25s;
            animation-delay: -0.25s;
        }

        .lds-spinner div:nth-child(10) {
            -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
            -webkit-animation-delay: -0.166666666666667s;
            animation-delay: -0.166666666666667s;
        }

        .lds-spinner div:nth-child(11) {
            -webkit-transform: rotate(300deg);
            transform: rotate(300deg);
            -webkit-animation-delay: -0.083333333333333s;
            animation-delay: -0.083333333333333s;
        }

        .lds-spinner div:nth-child(12) {
            -webkit-transform: rotate(330deg);
            transform: rotate(330deg);
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
        }

.lds-spinner {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

/*---End---*/
/*Loader for notification bar*/
.notification_loader_container {
    width: 100%;
    margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.notification_loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #2ca01c;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
