/*User Information block Start*/
.style_btn_delete {
    color: white;
    margin-top: 25px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    height: 34px;
    border-style: none;
    padding: 0px 10px;
}

.udi_table {
    width: 100%;
}

.udi_info {
    width: 100%;
    font-size: 13px !important;
    float: left;
    padding: 0px 10px;
}

.udi_title {
    width: 50%;
    padding-right: 10px;
}

.udi_title_mail {
    width: 100%;
}

.udi_title > label, .udi_data > label {
    margin-bottom: 0px;
}

.udi_data {
    width: 50%;
}

.udi_data_occurence {
    width: 100%;
}

.addoccurance-container {
    padding: 20px;
}

.udi_data_custom {
    float: right;
    text-align: right;
}

.udi_information_block {
    width: 100%;
    float: left;
}

.udi_Detail_block {
    width: 100%;
    float: left;
    padding-left: 7px;
    padding-bottom: 5px;
}

.udi_change_password_block {
    /*width:33%;*/
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

.udi_change_permission_block {
    width: 50%;
    float: left;
    padding-right: 10px;
}

.udi_permission_info_block {
    width: 50%;
    float: right;
}

.udi_change_Detail_block {
    width: 100%;
    float: left;
    padding-left: 5px;
    padding-bottom: 5px;
}

.permission_btn {
    background-color: #ccc !important;
    border-color: #ccc !important;
    color: #000 !important;
    margin-top: 16px;
}

    .permission_btn:hover {
        background-color: #2ca01c !important;
        border-color: #2ca01c !important;
        color: #fff !important;
    }

.udi_pad_bottom {
    padding-bottom: 10px;
}
/*User Information block End*/

.Customer-details-info-left {
    float: left;
    width: 70%;
    padding-right: 5px;
}

.customer-history-info-right {
    float: left;
    width: 30%;
}

.CustomerDetailSubConentContainer {
    width: 100%;
    padding-top: 10px;
}

.customer-subTab-left-content {
    width: 50%;
    padding-right: 10px;
    float: left;
}

.customer-subTab-right-content {
    width: 50%;
    padding-right: 5px;
    float: left;
}

.tr-data {
    margin-top: 5px;
    font-size: 13px;
    width: 100% !important;
    float: left !important;
}

#customerInfoSubTab {
    padding-top: 10px;
}

#customerAccountActivitySubTab {
    padding-top: 10px;
}

#customer3rdPartySubTab {
    padding-top: 10px;
}

.history-details-subDiv {
    border: 2px solid #ddd;
    padding: 5px;
}

.cus-margin-top5p {
    margin-top: 5px;
}

#customerDetails {
    margin-top: 20px !important;
}

.main-container-customer-detail {
    padding-left: 10px;
    padding-right: 10px;
    overflow-x: hidden;
    min-height: 400px;
}

.back-to-customerlist {
    font-size: 20px;
    font-weight: 600;
    color: #777;
    float: left;
    padding-top: 4px;
    margin-right: 5px;
}

    .back-to-customerlist:hover {
        color: #2ca01c;
    }

.per_customer_info_container {
    width: 100%;
    padding: 0px 14px;
    /*height:75px;*/
    display: table;
}

.per_customer_info_div {
    width: 25%;
    float: left;
    cursor: pointer;
}

.right_padding {
    /*margin-right:5px;*/
}

.address_padd {
    /*padding-left:30px;*/
    font-size: 13px;
}

.device_amount {
    color: #fff !important;
}

/*new added style start*/
/*new added style start*/

.customer-active-status {
    color: #2ca01c;
    font-weight: 600;
}

.customer-inactive-status {
    color: #d71920;
    font-weight: 600;
}

.ci_block {
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom:10px;
}

.ci_header {
    width: 100%;
    padding: 5px 10px;
    background-color: #f4f5f8;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid #ccc;
}

.ci_info {
    width: 100%;
    font-size: 13px !important;
    float: left;
    padding: 0px 0px 10px 10px;
}

.ci_info_custom {
    width: 100%;
    font-size: 13px !important;
    float: left;
    /*padding: 0px 0px 10px 10px;*/
}

.ci_margin_top {

}

.customer_info_wrapper {
    width: 100%;
    height: 390px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 8px;
}

.customer_detail_tab_style {
    background-color: #f4f5f8;
    margin-top: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.custom_link {
    color: #2ca01c;
}

    .custom_link:hover {
        color: #2ca01c;
        cursor: pointer;
        text-decoration: underline;
    }

.ci_table > tbody > tr > td {
    padding: 0px;
    word-break:break-all;
}

.Custom_account_history_content {
    overflow-y: scroll;
    height: 30vh;
}
/*new added style end*/
/*new added style end*/
.customer_tabs_container {
    width: 99%;
    margin: 5px 5px 0px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    overflow-x: hidden;
    margin-bottom: 10px;
}

.Customer-detailstabcontent {
     width: 100%;
    float: left;
      margin-top: 10px;
    padding-bottom: 0px;

}

.customer_details_main_nav > li.active > a {
    background-color: #fff !important;
    color: #000 !important;
    padding: 10px 15px;
    width: 100%;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.customer_details_main_nav > li > a > i {
    display: none;
    visibility: hidden;
}

.customer_details_main_nav > li.active > a > i {
    display: inline-block;
    visibility: visible;
}

.customer_details_main_nav > li.active > a {
    color: #2ca01c !important;
}


.customer_details_main_nav > li {
    border-top: none !important;
    border-left: none !important;
    border-right: 1px solid #ccc;
    border-bottom: none !important;
}

    .customer_details_main_nav > li > a:hover {
        cursor: pointer;
        color: #2ca01c;
    }

.udi_Expiration_block {
    width: 100%;
    float: left;
    padding-left: 5px;
    padding-bottom: 5px;
}
.customer_unpaid_invoice {
    margin-bottom:10px;
}
.customer_unpaid_invoice .ci_info {
    height:20vh;
    overflow-y:scroll;
    padding:5px 10px;
}
.customer_unpaid_invoice .ci_info div {
    width:100%;
    float:left;
   margin-bottom:3px;
}
.customer_unpaid_invoice .ci_info b {
    margin-right:5px;
}
.customer_unpaid_invoice .ci_info a {
    color:red !important;
    cursor:pointer;
}
.customer_site_address .ci_info,
 .customer_billing_address .ci_info {
    padding: 5px 0px 10px 10px;
}
.customer_billing_address {
    
}
.customer_equipments_list .ci_table thead tr th,
.customer_equipments_list .ci_table tbody tr td {
    width:50%;
    padding: 5px 0px;
}
.customer_note_box_table {
    width:100%;
    float:left;
    table-layout:fixed
}
.customer_note_box_table thead tr th:nth-child(2)
 {
    width:145px;
}
.customer_note_box_table thead tr th:nth-child(3) {
    width:100px;
}
 .customer_tabs_container .customer_details_main_nav {
       height:auto;
   }
 .customer_note_box_table tbody tr td,
 .customer_note_box_table thead tr th {
     padding:10px;
 }
 .customer_note_box_table tbody tr:nth-child(odd) {
     background-color:#f8f8f8;
 }
 .customer_note_box_table tbody tr:hover {
     background-color:#f4f5f8;
 }
 .customer_note_box_table tbody tr td div:nth-child(2) {
     overflow:hidden;
     text-overflow:ellipsis;
     white-space:nowrap;
     cursor:pointer;
 }
 .customer_note_box_table tbody tr td div:nth-child(1) {
     display:none;
 }
@media (max-width: 1024px) {
    .right_padding {
        margin-right: 3px;
    }

    .content-float-left {
        width: 50%;
    }

    .content-float-right {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .ci_block_device_margin {

    }

    .Customer-details-info-left {
        width: 100%;
        padding-right:0px;
    }

    .customer-subTab-left-content {
        width: 100%;
        padding-right: 0px;
    }

    .customer-subTab-right-content {
        width: 100%;
        padding-right: 0px;
    }

    .customer-history-info-right {
        width: 100%;
    }

    .tr-title {
        width: 50%;
        /*padding-left: 30px;*/
    }
}

@media (max-width: 414px) {
    .customer_note_box_table thead {
        display:none;
    }
    .customer_note_box_table tbody tr td {
        width:100%;
        float:left;
        box-sizing:border-box;
    }
    .customer_note_box_table tbody tr td div:nth-child(1) {
     display:block;
     width:35%;
     float:left;
     font-weight:bold;
     text-align:left;
 }
    .customer_note_box_table tbody tr td div:nth-child(1) span {
        float:right;
        margin-right:5px;
    }
    .customer_note_box_table tbody tr td div:nth-child(2) {
     width:65%;
     float:left;
     text-align:left;
 }
    .customer_tabs_container {
        width:98%;
        margin-bottom:60px;
    }
  
    .device_amount {
        font-size: 23px !important;
    }

    .per_customer_info_div {
        width: 50%;
        float: left;
    }

    .open-border {
        margin-bottom: 0px;
    }

    .device_amount {
        /*width: 58%;
        float: right;
        font-size: 18px !important;*/
    }

    .open-overdue {
        /*width: 40%;
        float: left;
        font-size: 12px;
        font-weight: bold;
        line-height: 15px;
        padding: 4px 0px;*/
    }

    .right_padding {
        margin-right: 0px;
    }

    .customer-details-title-div {
        padding-top: 10px;
        height: auto;
    }

    .content-float-left {
        width: 100%;
    }

    .content-float-right {
        width: 100%;
        margin-top: -8px;
        text-align: right;
        margin-bottom: 7px;
    }

    .Revenue-border, .open-border, .overdue-border {
        /*height: 33px;*/
    }

    .name-title {
        width: 86%;
        text-align: center;
    }

    .custom-envelope {
        margin-top: 0px;
        font-size: 25px !important;
    }

    .udi_button {
        float: right;
        background-color: #2ca01c;
        color: white;
        height: 32px;
        padding-top: 10px;
    }
}
