.customer-details-title-div {
    padding-top: 15px;
    width: 100%;
    height:75px;
    /*padding-bottom: 175px;*/
}
.Customer_credit_balance{
    display: inline;
    width:100%;
    float: left;
}
.content-float-left {
    float: left;
    width: 60%;
}
.Customerdetail_addresss{
    margin-top:10px;
    margin-left:10px;
}
.customeraddress_style{
    font-size:15px;
    font-style:italic;
}
.left {
    float: left;
    padding-right: 10px;
}

.content-float-right {
    float: right;
    /*width: 40%;*/
}
.lead_details_btn {
    margin-right:10px;
}
.name-title {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    color: #393a3d;
}


.custom-envelope {
    line-height: 1.5 !important;
    font-size: 20px !important;
    color: #777 !important;
    margin-top:3px;
}

    .custom-envelope:hover {
        color: #2ca01c !important;
    }
.edit_button_for_lead {
    border-radius: 3px;
    -webkit-border-radius: 3px;
-moz-border-radius: 3px;
    color: #393a3d;
    box-shadow: none;
    cursor: pointer;
    font-size: 1.4rem;
    height: 34px;
    border: 0;
    margin: 0px;
    padding: 5px 12px !important;
}
.edit-button {
    border-top: 1px solid #8d9096;
    border-right: 1px solid #8d9096;
    border-left: 1px solid #8d9096;
    border-bottom: 1px solid #8d9096;
    border-radius: 3px;
    -webkit-border-radius: 3px;
-moz-border-radius: 3px;
    color: #393a3d;
    font-weight:600;
    box-shadow: none;
    cursor: pointer;
    font-size: 1.4rem;
    height: 25px;
    border: 0;
    margin: 0px;
    padding:3px 10px !important;
}

.dropdown-menu-new-transaction {
    background-color: #2ca01c !important;
    color: #ffffff !important;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: none;
    border: 1px solid #2ca01c;
    height: 34px;
    line-height: 33px;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    min-width: initial;
    font-weight:600;
   padding:0px 15px !important;
    float: right;
}

.dropdown-menu-new-transaction:hover {
    color: #ffffff !important;
}

.float-right-margin-15p {
    float: right;
    margin-right: 15px;
}

.float-right {
    float: right;
}

.custom-space {
    padding-bottom: 20px;
    width: 100%;
}

.width-100p {
    float: left;
    width: 100%;
}
.open-overdue {
    letter-spacing: 1px;
    margin-left: 5px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 0.8;
    padding-bottom: -10px;
}

.amount-caption-info {
    font-weight: 500;
    line-height: 1.21;
    font-size: 3rem;
    padding: 4px 4px 4px 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 3rem;
    color: #000;
    line-height: 0.85;
}

.Revenue-border{
   background-color: #21abf6;
    padding: 7px;
     border-radius:3px 0px 0px 3px;
     -webkit-border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
}
.Revenue-border:hover {
    border-top:6px solid #337192;
}

.open-border {
     background-color: #0077c5;
    padding: 7px;
    border-radius:0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
   /*margin-bottom:10px;*/
}
 .open-border:hover { 
    border-top:6px solid #2b4e61;
}

.overdue-border {
    background-color: #fd4442;
    padding: 7px;
    border-radius:0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
}
.overdue-border:hover {
    border-top:6px solid #b97835;
}
.unpaid_border {
    background-color: #af0404;
    padding: 7px;
    border-radius:0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}
.unpaid_border:hover {
    border-top:6px solid #710101;
}


.padding-bottom-20p {
    padding-bottom: 20px;
    display: block;
    /*float:right;*/
}

.padding-right-75p {
    padding-right: 75px;
}

.table-left-details {
    float: left;
    width: 50%;
    padding-right: 15px;
}

.table-right-details {
    float: left;
    padding-left: 15px;
    width: 50%;
}

.padding-top-bottom-10p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.info-table-tr {
    /*height: 38px;*/
    /*border-bottom: 1px solid #CCCCCC;*/
    /*width: 90%;*/
}

.width-90p {
    width: 90%;
    float: left;
}

.tr-title {
    font-weight: 600;
    font-size: 13px;
    width:50%;
    
}
.tr-title span {
    float:right;
    margin-right:10px;
}
.tr-data {
    font-size: 1.3rem;
    width: 60%;
    float:right;
    word-break: break-word;
}
.td-title{
    padding-top:4px;
    font-weight: 600;
    font-size: 13px;
    color:red;
}
.custom-col{
    padding:0;
}
.cd_drop_down > ul {
    left:auto;
}