.header-title {
    width: 100%;
    float: left;
    text-align: left;
    background-color: #f4f5f8;
    border-bottom: 1px solid #ccc;
}

.custom-title-span {
    line-height: 50px;
    font-size: 2.4rem;
    line-height: 40px;
    color: #393a3d;
    padding-left: 15px;
    vertical-align: middle;
    white-space: nowrap;
}

.div-body-contents {
    width: 100%;
    padding: 10px 15px;
}

.add_invoice_amount_allign {
    text-align: right;
    padding-right: 10px !important;
}

.balance-info {
    width: 30%;
    float: right;
    text-align: right;
    padding-right: 0px;
}

.balance-info-40p {
    width: 50%;
    float: right;
    text-align: right;
    padding-right: 0px;
}

.InvoiceMgmtDiv {
    margin-top: 10px;
}

.invoice-info-left-70p {
    float: left;
    width: 70%;
}

.invoice-info-left-60p {
    float: left;
    width: 50%;
}

.invoice-info-left-100p {
    float: left;
    width: 100%;
}

.width_100p {
    width: 100%;
    float: left;
}

.width-30p {
    float: left;
    width: 30%;
    padding-right: 30px;
}

.width-25p {
    float: left;
    width: 25%;
}

.width-25p {
    float: left;
    width: 25%;
    padding-right: 10px;
}

.span-style {
    font-weight: 600;
    color: #615b5b;
    display: block;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
}

.amount-span-style {
    font-size: 3.8rem;
    height: 3.8rem;
    color: #000 !important;
}

.table-info {
    padding-left: 50px;
    padding-right: 50px;
}

.table-body-td-style {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding: 15px;
}

    .table-body-td-style:hover {
        /*background-color: #ddd;*/
        cursor: pointer;
    }

.border-right-2pxddd {
    border-right: 2px solid #ddd;
}

/*.tr-style:hover {
    background-color: #ffffff;
}*/

.display-none {
    display: none;
}

.CustomerInvoiceTab {
    width: 100%;
}

.shipping_div_style {
    width: 100%;
    display: none;
}

.C_S.I_G {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.C_S .input-group-prepend {
    width: 30%;
    float: left;
}

.C_S .input-group-text {
    padding-top: 5px;
    height: 32px;
    color: #495057;
    text-align: center;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
}

.C_S.I_G > .input-group-prepend > .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.C_S.I_G > .txtProductAmount, .C_S.I_G > .txtProductRate {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 70%;
    float: left;
    margin-bottom: 0;
}

.CustomerInvoiceTab tbody tr input, .CustomerInvoiceTab tbody tr .C_S {
    display: none;
}

.CustomerInvoiceTab tbody tr.focusedItem input {
    border: 1px solid #2ca01c;
}

.CustomerInvoiceTab tbody tr.focusedItem input, .CustomerInvoiceTab tbody tr.focusedItem .C_S {
    display: block;
}

.CustomerInvoiceTab tbody tr span {
    display: block;
}


.CustomerInvoiceTab tbody tr.focusedItem span {
    display: none;
}

.CustomerInvoiceTab tbody tr td i.fa {
    cursor: pointer;
    font-size: 18px;
    padding-top: 10px;
}

.tableActions {
    text-align: center;
}

.CustomerInvoiceTab tbody tr td {
    padding: 5px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.CustomerInvoiceTab thead tr th {
    text-align: left;
    line-height: 36px;
    vertical-align: middle;
    /*background-color: #ddd;*/
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.CustomerInvoiceTab tbody tr:hover {
    background-color: #f4f5f8;
    border-right: 1px solid #ffffff;
}

.CustomerInvoiceTab thead tr:hover {
    background-color: #f4f5f8;
    border-right: 1px solid #ffffff;
}

.CustomerInvoiceTab tbody tr td:hover {
    cursor: pointer;
}

.add-invoice-container .tt-menu {
    background: white;
    min-width: 320px;
    font-size: 12px;
    max-height: 230px;
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    margin-top: 0px;
    position: absolute;
    left: 5px;
    z-index: 100;
    display: none;
    width: 450px;
    overflow-y: scroll;
}

.add-invoice-container .tt-dataset-autocomplete {
    margin-top: -5px;
}

.add-invoice-container .tt-suggestion {
    min-height: 36px;
    display: block;
    padding: 10px 10px 9px 15px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
}

.add-invoice-container .tt-menu p, .search-bar-container .twitter-typeahead > i p {
    margin: 0;
}

.add-invoice-container .tt-sug-text {
    width: 90%;
    font-size: 14px;
    text-overflow: ellipsis;
}

.add-invoice-container .tt-suggestion u {
    text-decoration: none;
    color: #aa2121;
}

.add-invoice-container .tt-suggestion.active {
    background-color: #f2f2f2;
}

.add-invoice-container .tt-sug-desc {
    width: 100%;
    color: #999;
    padding-top: 2px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.add-invoice-container .tt-sug-type {
    position: absolute;
    right: 17px;
    top: 11px;
    color: #999;
    font-style: italic;
}

.add-invoice-container .tt-eq-price {
    float: right;
}

.add-invoice-container .tt-eq-name {
    float: left;
}

.select2-container.select2-container--default.select2-container--open {
    z-index: 9999 !important;
}

.invoice-footer {
    background-color: #393a3d;
    padding: 8px 15px;
    position: absolute;
    bottom: 0px;
    width: 100% !important;
}

.InvoiceCancelButton, .InvoiceSaveButton {
    background-color: transparent;
}

.btnInv {
    color: white;
    border: 1px solid #6b6c72;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
}

    .btnInv:hover, .InvoiceDeleteButton:hover {
        background-color: #545558;
    }

.SaveAndSendBtn, .SaveOptionsBtn {
    background-color: #2ca01c;
    color: white !important;
    border: 1px solid #6b6c72 !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

    .SaveAndSendBtn:hover, .SaveOptionsBtn:hover {
        background-color: #108000 !important;
        color: white !important;
    }

.cancelbtnDiv {
    width: 20%;
    float: left;
}

.SaveaButtonsDiv {
    width: 30%;
    float: left;
    text-align: right;
    float: right;
}

.InnerOptionsDiv {
    width: 50%;
    float: left;
    text-align: center;
    padding-top: 8px;
    color: white;
}

    .InnerOptionsDiv a {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

.btnAddLines, .btnAddSubtotal, .btnClearLines {
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    min-width: initial;
    box-shadow: none;
    -webkit-font-smoothing: inherit;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 0 !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #8d9096;
    background: 0 0;
    color: #393a3d;
    font-weight: 200;
}

    .btnAddLines:hover, .btnAddSubtotal:hover, .btnClearLines:hover {
        background: #fff;
        color: #393a3d;
        box-shadow: 0 0 0 1px #8d9096;
    }

.InvoiceMessage {
    resize: none;
    width: 345px;
}

.Memo {
    resize: none;
    width: 345px;
}

.txtProductQuantity {
    height: 32px;
}

.InvoiceCalculationsDiv {
}

.CustomerInvoiceTab tbody td input {
    width: 100%;
}

.CustomerInvoiceTab .tab-index, .CustomerInvoiceTab .tab-Action {
    width: 2%;
}

.CustomerInvoiceTab .tab-Product {
    width: 18%;
}

.CustomerInvoiceTab .tab-Desc {
    width: 30%;
}

.CustomerInvoiceTab .tab-Quantity {
    width: 3%;
}

.CustomerInvoiceTab .tab-Rate {
    width: 3%;
}

.CustomerInvoiceTab .tab-Amount {
    width: 4%;
}

/*.CustomerInvoiceTab .tab-Quantity, .CustomerInvoiceTab .tab-Rate, .CustomerInvoiceTab .tab-Amount {
    width: 10%;
}*/
.CustomerInvoiceTab tbody tr td:nth-child(4), .CustomerInvoiceTab tbody tr td:nth-child(5), .CustomerInvoiceTab tbody tr td:nth-child(6) {
    text-align: right;
}

.SaveaButtonsDiv ul.dropdown-menu li {
    cursor: pointer;
}

.invoice-make-payment-div {
    float: left;
    width: 30%;
    text-align: center;
    padding-top: 19px;
    cursor: pointer;
}

.settings-invoice {
    background: none;
    border: none;
    font-size: 27px;
    position: absolute;
    right: 40px;
    color: #6b6c72;
}

.shippingAddress {
    height: 80px !important; /*it was 60px*/
    resize: none;
}

.BillingAddress {
    height: 80px !important; /*it was 60px*/
    resize: none;
}

.shipping-amount-div {
    display: none;
}

.width-70p {
    width: 70%;
    float: left;
}

.float-right {
    float: right;
}

#shippingCost {
    width: 80px !important;
}

#ShippingField {
    height: 40px;
}

#discountType {
    float: right;
    width: 160px !important;
}

#discountAmount {
}

.deposit-amount-div {
    display: none;
}

.discount-amount-div {
    display: none;
}

.margin-TB-5p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#Invoice_ShippingCost {
    float: right !important;
    text-align: right !important;
    width: 50px !important;
}

#Invoice_Deposit {
    float: right !important;
    text-align: right !important;
    width: 50px !important;
}

#taxType {
    float: right;
    width: 100% !important;
}

/*Notes part*/
.InvNotesContainer {
    width: 345px;
    float: left;
    margin-left: 15px;
}

.AddNewInvNotBtn {
    width: 140px;
    height: 34px;
    background-color: white;
    border: 1px solid #108000;
    position: relative;
    float: right;
}

    .AddNewInvNotBtn img {
        max-width: 20px;
        max-height: 20px;
    }

.InvoiceNotTxt {
    width: 100%;
    resize: none;
}

.InvoiceNotesList {
    margin-top: 20px;
}

.InvoiceNote {
    padding-top: 10px;
    width: 100%;
    border: 1px solid #ccc;
    white-space: pre-wrap;
    margin-top: 20px;
    padding: 10px;
}

.DeleteInvoiceNoteBtn {
    height: 34px;
    width: 80px;
    background-color: white;
    border: 1px solid #108000;
    float: right;
}

.NoteAddedByDiv {
    width: 70%;
    float: right;
    text-align: right;
    font-size: 11px;
    font-style: italic;
}

.NoteDeleteDiv {
    width: 30%;
    float: left;
}

.InvoiceNoteOptions clearfix {
    padding-top: 10px;
}
/*Notes part ending*/


/*new Css changes*/
.InvEstPreview {
    display: none;
}

.CheckPrintAndSendInvoice, .CloseInvoiceOnly {
    border: 1px solid #2ca01c;
    color: white;
    background-color: #2ca01c;
}

.PaidDivClass {
    padding-top: 25px;
    font-size: 40px;
    color: #ada5a5;
    font-weight: bold;
}

.CancelDivClass {
    padding-top: 25px;
    font-size: 40px;
    color: #ada5a5;
    font-weight: bold;
}

.invoice_info_container {
    background-color: #f4f5f8;
    display: table;
    width: 100%;
    padding: 10px 15px;
}

.subtotal_text {
    font-size: 17px;
    font-weight: 600;
    padding-right: 0px !important;
}

.tax_amount {
    font-size: 17px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 4px 5px;
    width: 80px;
    text-align: right;
}

.billing_text_align {
    margin-top: 7px;
}

.add-invoice-container textarea:disabled {
    background-color: #fcfcfd;
}

.add-invoice-container select:disabled, .form-control[disabled] {
    background-color: #fcfcfd;
}

.invoie_contents_scroll {
    overflow-y: scroll;
    height: 630px;
}

.custom_ai_pad {
    padding-left: 0px;
}

.invoice_message_div {
    width: 345px;
    font-size: 11px;
    text-align: right;
    font-style: italic;
}

.invoice_memo_counter {
    width: 345px;
    font-size: 11px;
    text-align: right;
    font-style: italic;
}

.customer_name_insert_div {
    position: relative;
}

.top_pad_for_add_invoice {
    padding-top: 10px;
}

.AddInvoiceLoader {
    width: 100%;
    position: absolute;
    height: 100%;
    background: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
}

.row {
    display: block;
    width: auto;
    table-layout: fixed;
}

.InvoiceDeleteButton {
    background-color: transparent;
}

.discount-amount-div .col-xs-6 {
    padding-left: 5px;
}

    .discount-amount-div .col-xs-6 select {
        width: 38px;
        float: left;
        padding: 0px;
        margin-left: 4px;
    }

    .discount-amount-div .col-xs-6 .discount_text {
        padding-top: 5px;
        float: left;
        font-weight: bold;
    }

.OtherInfos .col-md-12 .invoive_description_container {
    width: 45%;
    float: left;
}

.OtherInfos .col-md-12 .invoive_calculation_div {
    width: 55%;
    float: left;
    padding-right: 0px;
}

.subtotal-amount-div .col-xs-8,
.Discount-total .col-xs-8,
.tax-amount-div .col-xs-8,
.total-amount-div .col-xs-8,
#ShippingField .col-xs-8,
.deposit-amount-div .col-xs-8,
.balance-due-amount-div .col-xs-8 {
    width: 76%;
    padding: 0px;
}

#ShippingField .currency_style,
.deposit-amount-div .currency_style {
    padding-left: 25px;
}

.discount-amount-div .col-xs-6 {
    width: 58%;
    text-align: right;
    padding: 0px;
}

    .discount-amount-div .col-xs-6 select {
        width: 50px;
        float: right;
        padding: 0px;
        margin-right: 4px;
        margin-left: 4px;
    }

.discount-amount-div .col-xs-2 {
    padding: 0px;
}

.discount-amount-div .col-xs-6 .discount_text {
    padding-top: 7px;
    float: left;
    font-weight: bold;
    width: 50%;
    padding-right: 5px;
}

.subtotal-amount-div .col-xs-4,
.discount-amount-div .col-xs-4,
.Discount-total .col-xs-4,
.tax-amount-div .col-xs-4,
.tax-amount-div .col-xs-4,
.total-amount-div .col-xs-4,
#ShippingField .col-xs-4,
.deposit-amount-div .col-xs-4,
.balance-due-amount-div .col-xs-4 {
    width: 105px;
    padding: 0px;
}

#taxType {
    float: right;
    width: 100px !important;
    padding: 6px;
}

.add_estimate_margin_top {
    margin-top: 7px;
}

.Discount-total {
    width: 100%;
    float: left;
}

.OtherInfos {
    width: 100%;
    float: left;
}

    .OtherInfos .col-md-12 {
        width: 100%;
        float: left;
    }

.estimate_btn_style {
    display: inline-block;
}

.balance_info_for_mobile {
    display: none;
}

.balance_info_for_desktop {
    display: block;
}

.discount_text_custom {
    font-weight: 600;
    color: #615b5b;
    font-size: 14px;
    display: block;
    width: 70px;
    float: right;
    padding-top: 5px;
}

.mobile_invoice_cancel,
.mobile_invoice_delete,
.mobile_invoice_save {
    display: none;
}

@media (max-width:768px) {
    .AddNewInvNotBtn {
        width: 150px;
    }

    .OtherInfos .col-md-12 .invoive_calculation_div {
        width: 50%;
        float: left;
        padding-right: 0px;
    }

    .OtherInfos .col-md-12 .invoive_description_container {
        width: 50%;
        float: left;
    }

    .add_invoice_info_div_device {
        width: 50%;
    }

    .InnerOptionsDiv {
        width: 45%;
    }

    .SaveaButtonsDiv {
        width: 35%;
    }

    .add_invoice_bootom_left {
        width: 60%;
    }

    .add_invoice_bootom_right {
        width: 40%;
    }

    .subtotal-amount-div .col-xs-8,
    .Discount-total .col-xs-8,
    .tax-amount-div .col-xs-8,
    .total-amount-div .col-xs-8,
    #ShippingField .col-xs-8,
    .deposit-amount-div .col-xs-8,
    .balance-due-amount-div .col-xs-8 {
        width: 64%;
        padding: 0px;
    }

    .discount-amount-div .col-xs-6 select {
        float: right;
        margin-right: 5px;
    }

    .discount-amount-div .col-xs-6 {
        width: 47%;
    }
}

@media (max-width:414px) {
    .desktop_invoice_cancel,
    .desktop_invoice_delete,
    .desktop_invoice_save {
        display: none;
    }

    .mobile_invoice_cancel {
        display: block;
        float: left;
    }

    .mobile_invoice_save {
        display: block;
        float: right;
    }

    .mobile_invoice_delete {
        display: block;
        padding: 6px;
        float: left;
        margin-left: 5px;
    }

    .add-invoice-container {
        overflow-x: hidden;
        overflow-y: scroll;
    }

        .add-invoice-container .custom-title-span {
            font-size: 18px;
        }

    .balance_info_for_mobile {
        display: block;
        width: 100%;
        text-align: left;
    }

    .balance_info_for_desktop {
        display: none;
    }

    .estimate_invoice_balance_info .balance-info {
        width: 100%;
        float: left;
        text-align: left;
    }

    .invoice_info_container .invoice-info-left-70p {
        width: 100%;
        float: left;
    }

        .invoice_info_container .invoice-info-left-70p .width-25p {
            width: 50%;
        }

        .invoice_info_container .invoice-info-left-70p .invoice_address_div {
            width: 100%;
            padding-right: 0px;
            margin-bottom: 10px;
        }

    .invoice_info_container .invoice_owner_info .width-25p:nth-child(2) {
        padding-right: 0px;
    }

    .invoice_info_container .invoice_billing_info .width-25p:nth-child(3),
    .invoice_info_container .invoice_billing_info .width-25p:nth-child(4) {
        padding-right: 0px;
    }

    .invoice_info_container .invoice_billing_info .width-25p:nth-child(4) {
        width: 100%;
        margin-top: 10px;
    }

    .invoice_info_container .shipping-div .invoice-info-left-70p .width-25p {
        width: 50%;
    }

        .invoice_info_container .shipping-div .invoice-info-left-70p .width-25p:nth-child(1) {
            width: 100%;
            padding-right: 0px;
            margin-bottom: 10px;
        }

        .invoice_info_container .shipping-div .invoice-info-left-70p .width-25p:nth-child(3) {
            padding-right: 0px;
        }

        .invoice_info_container .shipping-div .invoice-info-left-70p .width-25p:nth-child(4) {
            width: 100%;
            padding-right: 0px;
            margin-top: 10px;
        }

    .add_invoice_table_style {
        overflow-x: scroll !important;
    }

    .OtherInfos .col-md-12:nth-child(1) {
        display: flex;
        flex-direction: column-reverse;
    }

    .OtherInfos .custom_padding_null {
        padding: 0px;
    }

    .OtherInfos .col-md-12 .invoive_calculation_div {
        width: 100%;
    }

    .subtotal-amount-div .col-xs-8,
    .Discount-total .col-xs-8,
    .tax-amount-div .col-xs-8,
    .total-amount-div .col-xs-8,
    #ShippingField .col-xs-8,
    .deposit-amount-div .col-xs-8,
    .balance-due-amount-div .col-xs-8 {
        width: 63%;
    }

    .OtherInfos .col-md-12 .invoive_description_container {
        width: 100%;
    }

        .OtherInfos .col-md-12 .invoive_description_container .col-md-12 {
            padding: 0px;
        }

    .InvoiceMessage,
    .invoice_message_div,
    .invoice_memo_counter,
    .Memo,
    .InvNotesContainer {
        width: 100%;
    }

    .InvNotesContainer {
        margin-bottom: 20px;
        margin-left: 0px;
    }

    .add_estimate_table_info {
        overflow-x: scroll !important;
    }

    .InnerOptionsDiv {
        width: 10%;
        text-align: right;
        padding-right: 10px;
    }

    .SaveaButtonsDiv {
        width: 70%;
    }

        .SaveaButtonsDiv button {
            padding: 6px;
        }

    .infotable th:first-child, .infotable th:last-child {
        text-align: center;
        border-bottom: 1px solid;
    }

    .Gap {
        min-width: 30px;
    }

    .SaveaButtonsDiv .estimate_btn_style {
        padding-right: 5px;
    }

        .SaveaButtonsDiv .estimate_btn_style a,
        .InvoiceCancelButton {
            padding: 6px;
        }

    .CancelDivClass,
    .PaidDivClass {
        padding-top: 0px;
        font-size: 30px;
        color: #ada5a5;
        font-weight: bold;
        margin-top: -15px;
    }
}
