.black-border {
    border: 1px solid #ccc;
     -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.background-color-ffffff {
    background-color: white;
}

.background-color-ffffff:focus {
    background-color: #ffffff !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.customer-dropdown-ul-style {
    border: 1px solid #666 !important;
    font-size: 13px;
     -webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
border-radius: 0px !important;
    margin-top: 4px !important;
    width: inherit;
    padding: 4px 0px 4px 0px !important;
}

.dropallign {
    padding: 7px 13px;
}

.btn-add-invoice {
    background-color: #2ca01c;
    color: #ffffff;
    border: 1px solid #2ca01c;
    margin-left: 5px;
}

#tblInvoice {
    width: 100%;
    float:left;
    table-layout:fixed;
}
#tblInvoice thead tr th:nth-child(1) {
    width:165px;
}
#tblInvoice tbody tr td {
    padding:10px;
}
#tblInvoice_paginate {
    float: right;
}

.cus-anchor {
    color: #2ca01c !important;
}
.all_invoices_search_text_div{
    width:40%;
    float:left;
}
.all_invoices_search_text{
     -webkit-border-radius: 4px 0px 0px 4px;
-moz-border-radius: 4px 0px 0px 4px;
border-radius:4px 0px 0px 4px;
    height:34px;
}
.all_invoices_search_button{
     -webkit-border-radius: 0px 4px 4px 0px;
-moz-border-radius: 0px 4px 4px 0px;
border-radius:0px 4px 4px 0px;
    height:34px;
}
/*Pagination design*/
.AgencyListPagination {
    position: relative;
    right: 10px;
    padding-top: 10px;
}

.paginationContainer {
    height: 50px;
    float: right;
    position: relative;
    min-width: 250px;
    padding-top: 10px;
}

.paginationtextdv {
    width: 30%;
    float: left;
    text-align: center;
}

.paginationMiddleButtondv {
    width: 40px;
    float: left;
}

.PaginationButtons {
    padding-left: 14px;
    padding-right: 14px;
    background: #fff;
    border: 1px solid #ccc;
    padding-top: 3px;
    padding-bottom: 3px;
}

.NavigatonButtonsDiv {
    float: left;
    border: 1px solid #ccc;
    margin-right: 2px;
}

.activeBtn {
    background-color: #ddd !important;
    color: black;
    border: none;
    height: 26px;
    width: 35px;
}

.paginationRightButtondv {
    width: 40px;
    float: left;
}

 /*#tblInvoice tbody tr td:nth-child(5), {
        text-align:center;
    }*/
 .invoice-table {
     margin-top:10px;
 }
 #tblInvoice > thead > tr > th {
     padding : 10px;
 }
  #tblInvoice > tbody > tr:hover {
     background-color:#f4f5f8;
 }

  .cbx_invoice {
    margin-top:0px !important;
    margin-bottom:0px !important;
  }
.cus-padding-top10p {
    padding-top: 10px;
}
    .invoice_device_header {
    display:none;
}
.color_red_style {
    color:red;
}
    .color_red_style_bold {
    color:red;
}
#tblInvoice > tbody > tr:nth-child(even) {background-color:#f8f8f8;}
#BillingCycle, #BillingDayDrp, #TaxApplied,#PaymentFilter {
    border-radius:0px;
    height:34px!important;
}
.width-25p{
    width:25%;
    float:left;
}
#PrintInvoiceList{
    display:none;
}
.sales_ach_table table {
    width:100%;
    table-layout:fixed;
}
 .sales_ach_table table thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    }

    .sales_ach_table table thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }
     .sales_ach_table table thead tr th div:nth-child(2) i {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
       
        .sales_ach_table table thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }
.sales_ach_table table tbody tr td div:nth-child(1) {
         display:none;
      }
.invoice_list_partial_table thead,
.filter_invoice_list_partial_table thead {
    border:1px solid #ccc;
    border-bottom:2px solid #ccc;
}
.invoice_list_partial_table tbody,
.filter_invoice_list_partial_table tbody {
    border:1px solid #ccc;
}
.invoice_list_partial_table thead tr th,
.filter_invoice_list_partial_table thead tr th {
    padding: 5px 10px 5px 10px !important;
    font-weight:normal;
}
 .invoice_list_partial_table thead tr th div:nth-child(1),
 .filter_invoice_list_partial_table thead tr th div:nth-child(1) {
        width: 94%;
        float: left;
        padding-top: 2px;
    }

    .invoice_list_partial_table thead tr th div:nth-child(2),
    .filter_invoice_list_partial_table thead tr th div:nth-child(2) {
        width: 6%;
        float: left;
    }
     .invoice_list_partial_table thead tr th div:nth-child(2) i,
     .filter_invoice_list_partial_table thead tr th div:nth-child(2) i {
    float: right;
    cursor: pointer;
    width: 100%;
    text-align: right;
    color: #bdbdbd;
}
       
        .invoice_list_partial_table thead tr th div:nth-child(2) i:nth-child(2),
        .filter_invoice_list_partial_table thead tr th div:nth-child(2) i:nth-child(2) {
            margin-top: -5px;
        }
@media(width:1024px) {
    #tblInvoice > thead > tr > th {
        text-align:center;
    }
      #tblInvoice > tbody > tr > td:nth-child(6),
      #tblInvoice > tbody > tr > td:nth-child(7),
      #tblInvoice > tbody > tr > td:nth-child(8),
      #tblInvoice > tbody > tr > td:nth-child(10)
      {
        text-align:center;
        }
}
@media (max-width:1024px) {
     .sales_ach_table table thead {
         display:none;
     }
      .sales_ach_table table tbody tr td {
          width:100%;
          float:left;
          box-sizing:border-box;
          padding: 2px 15px;
      }
       .sales_ach_table table tbody tr td div:nth-child(1) {
           display:block;
          width:50%;
          float:left;
          font-weight:bold;
          text-align:left;
      }
        .sales_ach_table table tbody tr td div:nth-child(2) {
          width:50%;
          float:left;
          text-align:left;
      }
}
@media(max-width:768px) {

    .invoice_hide_for_device {
        display:none;
    }
    .invoice_device_header {
        display:block;
        width:40%;
        float:left;
        font-weight:600;
        padding-left:0px;
    }
    .invoice_device_header span {
        float:right;
        margin-right:5px;
    }
    .invoice_device_info {
        width:60%;
        float:left;
    }

    .invoice_device_row {
        width:100%;
        float:left;
        padding: 0px;
    }
  
   

}
@media (max-width:414px) {
    .sales_ach_table table tbody tr td {
        padding:2px 0px;€
    }
    .all_invoices_search_text_div {
        width:100%;
        margin-top:10px;
    }
    .all_invoice_search_drop_list {
        width:100%;
    }
}
@media (max-width:320px) {
     .btn-add-invoice {
         margin-top:10px;
     }
     .invoices_tabs_header .nav-tabs {
         border-bottom:none;
     }
 }