 #myInvoicesTab > li > a {
        background-color: transparent !important;
    }

    #myInvoicesTab > li > a {
        background-color: transparent !important;
        color: #454545;
        border: none !important;
    }

    #myInvoicesTab > li {
        border: 1px solid #ccc !important;
    }

    #myInvoicesTab > li.active {
        background-color: #2ca01c !important;
    }

    #myInvoicesTab > li {
        border: 1px solid #ccc !important;
    }

    #myInvoicesTab > li.active > a {
        color: white !important;
    }
    .all_invoices_partial_container {
        margin-top: 10px;
    }
    .all_invoices_partial_container .all_invoice_partial_search {
        width:65%;
        float:left;
            position: relative;
    display: table;
    border-collapse: separate;
    padding: 10px 0px;
     }
    .all_invoices_partial_container .all_invoice_partial_search .form-control,
    .all_invoices_partial_container .all_invoice_partial_search .add-on {
        width:25%;
        float:left;
        border-radius:unset;
    }
    .all_invoices_partial_container .all_invoice_partial_search .add-on .form-control {
        width:100%;
    }
    .all_invoice_partial_other_option {
        width:auto;
        float:right;
        padding:15px 0px;
        font-size:17px;
    }
    .all_invoice_partial_other_option span:nth-child(1) {
        margin-right:5px;
    }
    .all_invoice_partial_other_option span a {
        color:#000;
    }
    .all_invoice_partial_other_option span a:hover {
        color:#2ca01c;
    }
    @media (max-width:414px) {
        #myInvoicesTab > li {
            width:33.33%;
            text-align:center;
        }
        #myInvoicesTab > li:nth-child(4) {
            text-align:right;
        }
        .all_invoices_partial_container .all_invoice_partial_search {
            width:100%;
        }
        .all_invoices_partial_container .all_invoice_partial_search .form-control {
            width:50%;
        }
        .all_invoices_partial_container .all_invoice_partial_search button {
            height:68px;
        }
        .all_invoices_partial_container .nav-tabs {
            border-bottom:0px;
        }
        .all_invoices_partial_container .btn-add-invoice {
            margin-top:10px;
        }
        .invoice_list_partial_table tbody tr td {
            padding:3px 10px !important;
        }
    }