@{
    Layout = null;
}
<link href="~/Content/Css/Car/car.css" rel="stylesheet" />
<style>
    .LoadCustomerTab {
        border: 1px solid #ddd;
        background-color: cadetblue;
        padding: 6px;
        width: 116px;
        color: white;
    }

    .LoadVendorTab {
        border: 1px solid #ddd;
        background-color: cadetblue;
        padding: 6px;
        width: 116px;
        color: white;
    }

    .active {
        background-color: #00467A;
    }

    .sub-list:not(:first-child) {
        padding-left: 10px;
    }

    .FilterImage {
        width: 10%;
        position: absolute;
        top: -20px;
    }

    #Download {
        float: right;
    }

    .item1:hover {
        background-color: #DADADA;
 
    }

    .item2:hover {
        background-color: #DADADA;
        ;
    }

    #searchbardiv {
        margin-bottom: 10px;
    }
</style>
<script>

    var TabsLoaderText = "<div class='invoice-loader'><div class='uil-squares-css' style='transform:scale(1); margin:auto;'><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div></div>";
    var NavigatePageListing = function (pagenumber, order) {
    console.log("fff")
    var searchText = $(".srch-term").val();
    $(".ListContents").load("/Users/LoadUsersList", { PageNumber: pagenumber, SearchText:searchText});
}
    var EditUsers = function (id) {
    OpenTopToBottomModal("/Users/AddUser?id=" + id);

    }

    $(document).ready(function () {

        $("#AddUser").click(function () {
            console.log("dd")
        OpenRightToLeftModal("/Users/AddUser");
            //$("#RightToLeftModal").click();

        })

        $(".srch-term").keyup(function () {
            NavigatePageListing(1);
        })
        $(".LoaderWorkingDiv").hide();
        $("#LoadCustomerList").html(TabsLoaderText);
        $("#LoadCustomerList").load("/Users/LoadUsersList");

        if ($("#LoadVendorTab").hasClass("active")) {
            $(".export1").show();
            $(".export2").hide();
            $(".CustomerFilter").show();
            $(".VendorFilter").hide();
        }
        else {
            $(".export2").show();
            $(".export1").hide();
            $(".CustomerFilter").hide();
            $(".VendorFilter").show();
        }
        $("#LoadCustomerTab").addClass("active");
        $(".LoadCustomerTab").click(function () {
            $("#LoadCustomerTab").html(TabsLoaderText);
            $("#LoadCustomerTab").load("/Users/LoadUsersList");
            if ($("#LoadVendorTab").hasClass("active")) {
                $("#LoadVendorTab").removeClass("active");
            }
            $("#LoadCustomerTab").addClass("active");
            $(".export1").show();
            $(".export2").hide();
            $(".CustomerFilter").show();
            $(".VendorFilter").hide();
        });
        $(".LoadVendorTab").click(function () {
            $("#LoadVendorTab").html(TabsLoaderText);
            $("#LoadVendorTab").load("/Vendor/LoadVendorSystemList");
            if ($("#LoadCustomerTab").hasClass("active")) {
                $("#LoadCustomerTab").removeClass("active");
            }
            $("#LoadVendorTab").addClass("active");

            $(".export2").show();
            $(".export1").hide();
            $(".CustomerFilter").hide();
            $(".VendorFilter").show();
        });
        $(".opportunity_filter_list").hide();
     

    });

</script>
<link href="~/Content/Css/Report/Report.css" rel="stylesheet" />
<div class="ReportsTitle">Users</div>

<div class="col-xs-12 Report-Tabs">
    <div class="nav-detail-contents">
        <div class="">
            <div id="searchbardiv" class="row">
                <div class="col-md-6">
                    <input class="form-control srch-term" placeholder="Find Customer" type="text" value="">
                </div>

            </div>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="AddUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add User
            </button>

        </div>


        <ul class="nav nav-tabs reports-tabs" id="myTab">
            <li class="active LoadCustomerTab"
                <a data-target="#LoadCustomerTab  .active" data-toggle="tab">Customer</a>
            </li>
        </ul>
        <div class="tab-content reports_tab_content">
            <div class="tab-pane active" id="LoadCustomerList">

            </div>
        </div>
    </div>

</div>
