.access_denied_container {
    width: 100%;
    float: left;
    padding: 10px;
    text-align: center;
    color: midnightblue;
    /* position: relative; */
    overflow: hidden;
}

.access_denied_inner {
    width: 420px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    background-color: #27b07c;
    border: 8px solid #6b6c6f;
    text-align: center;
    height: 170px;
    padding: 17px;
}

.access_denied_container i {
    font-size: 40px;
    color: #d71920;
}

.access_denied_header {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 25px;
    font-family: serif !important;
    font-weight: bold;
}

.access_denied_text {
    width: 100%;
    float: left;
    font-size: 18px;
}

@media (max-width:414px) {
    .access_denied_inner {
        width: 95%;
        bottom: unset;
        top: 15%;
    }
}
