#BtnLogin {
    background-color: #00467A !important;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none !important;
    color: #00467A !important;
    cursor:pointer;
}
.tab-content {
    min-height: 100px;
}
.PrivateLayoutContents .sidebar {
    width:140px;
}
.customer_tabs_container {
    width: 99%;
    margin: 5px 5px 0px 5px;
    border: 1px solid #ccc;
     -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow-x: hidden;
}
.customer_details_main_nav{
            height:40px;
        } .customer_details_main_nav > li {
            border-top: none !important;
            border-left: none !important;
            border-right: 1px solid #ccc;
            border-bottom: none !important;
        }
       
        .customer_details_main_nav > li > a {
            background-color: transparent !important;
            color: #454545;
            border: none !important;
        }
        .customer_details_main_nav > li.active > a {
            background-color: #fff !important;
            color: #000 !important;
            padding: 10px 15px;
            width: 100%;
             -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
        }

.custom_color {
    color: #454545;
    background-color:#f4f5f8;
}
.cus-anchor{
    color:#00467A !important;
    cursor:pointer;
}
.cus-anchor:hover{
    text-decoration:underline;
}

.my_check {
    left:-18px;
    top:-13px !important;
    z-index:1;
}
.my_check_div {
    height:18px;
    z-index:100;
}
.remember_position {
    position: absolute;
    top: -3px;
    left: 8px;
}

    /*style start for checkbox*/
/*style start for checkbox*/
.label-cbx {
  user-select: none;
  cursor: pointer;
  margin-bottom: 0;
}
.label-cbx input:checked + .checkbox {
  border-color: #00c31f;
 
}
.label-cbx input:checked + .checkbox svg path {
  fill: none;
}
.label-cbx input:checked + .checkbox svg polyline {
  stroke-dashoffset: 0;
}
.label-cbx:hover .checkbox svg path {
  stroke-dashoffset: 0;
  stroke-width: 1;
  

}
.label-cbx .checkbox {
  position: relative;
  top: 2px;
  float: left !important;
  margin-right: 8px;
  width: 20px !important;
  height: 20px;
  border: 2px solid #C8CCD4;
   -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.label-cbx .checkbox svg {
    position: absolute;
    top: -3px;
    left: -2px;
}
.label-cbx .checkbox svg path {
  fill: none ;
  stroke: #00c31f;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 71px;
  stroke-dashoffset: 71px;
  transition: all 0.6s ease;
}
.label-cbx .checkbox svg polyline {
  fill: none;
  stroke: #00c31f;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all 0.3s ease;
}
.label-cbx > span {
  pointer-events: none;
  vertical-align: middle;
}
.invisible {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}

/*style end for checkbox*/
/*style end for checkbox*/
.left_things {
    margin-left:-14px;
}
.main_search {
    background-color:#ddd !important;
    color:#000 !important;
    border-color:#ddd !important;
}
.main_search:hover {
    background-color:#2ca01c !important;
    color:#fff !important;
    border-color:#00467A !important;
}
 .text-custom {
    font-size: 13px;
    font-weight: 600;
    color: #615b5b;
}
    .margin_top_row {
    margin-top: 15px;
} 
    /*Pagination design start*/
.AgencyListPagination {
    position: relative;
    right: 10px;
    padding-top: 10px;
}

.paginationContainer {
    height: 50px;
    float: right;
    position: relative;
    min-width: 250px;
    padding-top: 10px;
}

.paginationtextdv {
    width: 30%;
    float: left;
    text-align: center;
}

.paginationMiddleButtondv {
    width: 40px;
    float: left;
}

.PaginationButtons {
    padding-left: 14px;
    padding-right: 14px;
    background: #fff;
    border: 1px solid #ccc;
    padding-top: 3px;
    padding-bottom: 3px;
}

.NavigatonButtonsDiv {
    float: left;
    border: 1px solid #ccc;
    margin-right: 2px;
}

.activeBtn {
    background-color: #ddd !important;
    color: black;
    border: none;
    height: 26px;
    width: 35px;
}

.paginationRightButtondv {
    width: 40px;
    float: left;
}
/*Pagination design end*/
    /*Pagination custom style start*/
    .paginationContainer {
        min-width:unset !important;
        width:auto !important;
        margin-bottom:10px !important;
    }
    .paginationtextdv {
        width:auto !important;
        margin-right:10px !important;
        padding-top: 7px;
    }
    .paginationMiddleButtondv {
    width: auto !important;
}
.PaginationButtons {
    padding: 6px 12px !important;
}
.paginationMiddleButtondv .PaginationButtons {
    border-radius: 4px 0px 0px 4px !important;
}
.paginationRightButtondv .PaginationButtons {
    border-radius: 0px 4px 4px 0px !important;
}
.NavigatonButtonsDiv {
    border: none !important;
    margin-right: 0px !important;
}
.NavigatonButtonsDiv .activeBtn {
    background-color:#00467A !important;
    color:#fff !important;
    height: auto !important;
    width: auto !important;
    padding: 7px 12px !important;
}
.paginationRightButtondv {
    width: auto !important;
}

.NavigationButton {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 6px 12px;
    padding: 6px 12px !important;
	
}
    /*Pagination custom style end*/
.company-white-logo{
    max-width:100%;
    max-height:100%;
}
.save_next_icon {
    height:18px;
}
.save_verify_icon {
    height:18px;
}
    
/*Currency Style css Start*/
.currency_style .input-group-prepend {
    margin-right: -1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right:-1px;
}
    
.currency_style .input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.currency_style .input-group > .input-group-prepend > .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.currency_style .input-group>.form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.currency_style .input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
        display: flex; 
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
 /*Currency Style css End*/

 /*Custom Date Style css Start*/
    .input_group_for_date {
        width:100%;
        float:left;
        position: relative;
        display: table;
        border-collapse: separate;
    }
    .input_group_for_date input {
        border-radius:4px 0px 0px 4px;
    }
    .input_group_for_date .btn {
        height:34px;
        border-radius:0px 4px 4px 0px;
        background-color:#fff;
        border-color:#ccc;
        color:#333;
    }
    .input_group_for_date .btn:hover {
        background-color:#2ca01c;
        color:#fff;
    }
    /*Custom Date Style css End*/
@media (max-width: 1024px) {
    .btn {
        background-color:#dddddd;
    }

}
@media (max-width: 768px) {
    
   .margin_top_row{
    margin-top: 15px; 
}
   .acc_info_field {
    border: none !important;
    padding: 0px !important; 
}
   .margin_top_row {
    margin-top: 0px !important;
}
   
}
@media (max-width: 991px) {
    .payment_text {
       text-align:left !important;
       padding-left:15px !important;
   }
    .custom_td {
        width:92% !important;
    }
    .switch {
    margin-left: 33px;
    margin-top: 10px;
    }
    .bottom_space {
         margin-bottom: 20px;
         margin-right:20px;
    }
}

@media (max-width:414px) {
    .PaginationButtons {
    padding: 6px !important;
}
}
