
.container_addfile {
    padding-left: 15px;
    padding-right: 15px;
}

.form-group {
    margin: 0;
    padding: 0;
}

    .form-group h3 {
        /*margin-left: 30px;*/
        font-size: 2rem;
        font-weight: 400;
        color: #393a3d;
    }

.custom-file {
    max-width: 175px;
    min-height: 123px;
    min-width: 173px;
    max-height: 123px;
}

.deleteDoc {
    position: absolute;
    width: 21px;
    height: 21px;
    margin-left: 162px;
    margin-top: -134px;
    /*background-color: black;
    border-radius: 50%;*/
    text-align: center;
    cursor: pointer;
}
.otherfileposition{
    margin-left: 55px;
    margin-top: 30px;
}
.fileborder {
    border: dotted 2px;
    height: 123px;
    width: 175px;
}
.red-border{
    border:1px solid red !important;
}
.border_none{
    border:none;
}
.deleteDoc img {
    width: 25px;
}

.change-picture-logo {
    border: 1px solid #ccc;
    background-color: #58595B;
    padding: 5px;
    width: 175px;
    height: 35px;
}

.white-color {
    color: white !important;
}

.add_file_header {
    width: 100%;
    background-color: #f4f5f8;
    padding: 15px 15px 10px 15px;
    font-size: 2rem;
    font-weight: 400;
    color: #393a3d;
}

.add_file_header_lead {
    width: 100%;
    background-color: #f4f5f8;
    padding: 15px 15px 10px 15px;
    font-size: 2rem;
    font-weight: 400;
    color: #393a3d;
}

.addfile_inner_info {
    width: 100%;
    padding: 5px 5px;
    margin: auto;
}

.content-type {
    /*margin-left: 30px;*/
    font-size: 14px;
    font-weight: 600;
    color: #404040;
    display: block;
    margin-bottom: 4px;
}

.content-text {
    height: 32px;
    width: 100% !important;
    font-size: 13px;
}

.SaveCancelDiv {
    width: 95%;
    padding-top: 8px;
}

.custom-col {
    width: 18%;
}

.footer-section {
    background: #eceef1;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0%;
}

.btn_file {
    float: right;
    background-color: green;
    color: white;
}

.txt_form_add_file {
    /*margin-left: 30px;*/
}

.item-check {
    height: 40px;
    width: 20px;
}

.txt-check {
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 14px;
    padding-left: 4px;
}

.col-cus {
    margin-left: 30px;
}

#ParentId {
    height: 32px;
    width: 90%;
    margin-left: 30px;
}

.padding-left-30 {
    padding-left: 30px;
}

#SaveCustomerFiles {
    float: right;
    background: #2ca01c;
    color: #fff;
}

.add_veihice_repair_check {
    width: 100%;
    float: left;
}

    .add_veihice_repair_check .label-cbx {
        float: left;
    }

    .add_veihice_repair_check .content-type {
        float: left;
        padding: 12px 0px;
    }

.add_vehicle_repair_container .txt_form_add_file {
    position: relative;
    margin-bottom: 10px;
}
