.LoaderWorkingDiv {
    position: relative;
    background: white;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.header{
        background-color: #00467A;
}
.GlobalEstInvCustSearchDiv {
    width:100%;
}
.username{
    font-weight:bold;
    font-style: italic;
}
.custom_padding_for_row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.dropdown_help {
    width: 400px;
}

.dropdown-alerts {
    width: 600px !important;
}
.IconOnly {
    position:relative;
}
.IconOnly a i {
    font-size: 20px;
}

.help_image {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 150px;
}

.dropdown-user {
    width: 700px;
}

.dropdown_notification {
    width: 430px;
}

.not_setting_dv {
    width: 100%;
    float: left;
    padding: 5px 10px;
}
.not_setting_dv .text_right {
    text-align:right;
}
.not_setting_dv b {
    font-size:18px;
}
.not_setting_dv div:nth-child(1) {
    width:50%;
    float:left;
    }
.not_setting_dv div:nth-child(2) {
    width:50%;
    float:left;
    }
.not_show_all_dv {
    width: 100%;
    float: left;
}

.notification_counter {
    background-color: red;
    color: white;
    font-size: 12px;
    padding-top: 5px;
    position: absolute;
    border-radius: 50%;
    top: 4px;
    right: 39px;
    height: 20px;
    width: 20px;
    text-align: center;
}

.LoadNotification_div {
    padding: 0px;
    width: 96%;
    float: left;
    margin-left: 2%;
    border: 3px dashed #ccc;
}

.notification_item {
    padding:5px 10px;
    cursor:pointer;
}
.notification_item div:nth-child(1) {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.notification_item div:nth-child(2) {
    font-style:italic;
    color:#9a9a9a;
    font-size:12px;
}
.notification_item:hover  {
    background-color: #f7f4f4;
}

.notification_not_seen{
    width:100%;
    /*float:left;*/
}

.popup_text_header {
    font-size: 23px;
    font-weight: normal;
    border-bottom: 1px solid #eee;
    padding-bottom: 9px;
    margin-top: 20px;
    position:relative;
}
.loged_info_user {
     width: auto;
    font-size: 14px;
    float: right;
    padding-right: 20px;
}
.popup_text_header_help {
    font-size: 23px;
    font-weight: normal;
    padding-bottom: 15px;
    margin-top: 20px;
}

.popup_text_subHeader {
    font-size: 18px;
    font-weight: normal;
    padding-top: 13px;
}

.tt-sug-type {
    font-size: 13px !important;
}
.tt_sug_manufac {
    color: #999;
    font-style: italic;
}
.popup_text_transactions {
    font-size: 18px;
    font-weight: normal;
    padding-top: 13px;
    margin: 12px 0px 0px -31px;
}

.popup_searching {
    padding-top: 0px !important;
}

.popup_helptype {
    padding-bottom: 20px !important;
}

.advanced_search {
    margin-top: -12px;
}

div.transactions {
    border: none;
    display: table;
    margin: 5px 0px 15px -28px;
    width: 730px;
}

div.extrar {
    border: none;
    display: table-row;
}

div.extrac {
    border: none;
    display: table-cell;
}

div.extrac_right {
    border: none;
    display: table-cell;
    text-align: right;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

li.open .popup_active_color {
    min-height: 50px !important;
    background-color: #555555 !important;
}

.popup_active_color:hover {
    min-height: 50px !important;
    background-color: #b0b0b0 !important;
    background-repeat: no-repeat;
}

.popup_marg {
    margin: 0px !important;
}

.topheaderborder {
    border: none !important;
}

.dropdown-menu {
    -webkit-border-radius: 0px 0px 4px 4px !important;
    -moz-border-radius: 0px 0px 4px 4px !important;
    border-radius: 0px 0px 4px 4px !important;
    border: none !important;
}

.submenuelement a:hover {
    color: #000 !important;
    text-decoration: none !important;
}

.arrow_top_create {
    position: absolute;
    top: -6px;
    right: 20px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 6px solid white;
}

.arrow_top_search {
    position: absolute;
    top: -6px;
    right: 20px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 6px solid white;
}

.arrow_top_settings {
    position: absolute;
    top: -6px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 6px solid white;
}
.dropdown-user .arrow_top_settings {
    right:205px;
}
.dropdown_notification .arrow_top_settings {
    right:140px;
}
.arrow_top_help {
    position: absolute;
    top: -6px;
    right: 20px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 6px solid white;
}

.dropdown_help {
    right: 0;
    left: auto;
}

.red {
    color: red;
}

.position-absolute {
    position: absolute;
}

.ChooseCompanyLi {
    width: 200px;
    position: relative;
    top: 9px;
}

.custom {
    width: 555px !important;
}

.mid {
    float: right;
    margin-top: -36px !important;
}

#ModalSuccessMessage .success-body {
    margin-top: 40px;
    position: relative;
    padding: 15px;
}

.GlobalEstInvCustSearchDiv .tt-menu {
    background: white;
    min-width: 320px;
    font-size: 13px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
    margin-top: 0px;
    overflow: hidden;
    position: absolute;
    left: 0px;
    z-index: 100;
    display: none;
    width: 100%;
    -webkit-border-radius: 0px 0px 6px 6px;
    -moz-border-radius: 0px 0px 6px 6px;
    border-radius: 0px 0px 6px 6px;
    top: 46px;
}

.GlobalEstInvCustSearchDiv .tt-dataset-autocomplete {
    margin-top: -5px;
}

.GlobalEstInvCustSearchDiv .tt-suggestion {
    min-height: 36px;
    display: block;
    padding: 10px 10px 9px 15px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
}

.GlobalEstInvCustSearchDiv .tt-menu p, .search-bar-container .twitter-typeahead > i p {
    margin: 0;
}

.GlobalEstInvCustSearchDiv .tt-sug-text {
    width: 100%;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.GlobalEstInvCustSearchDiv .tt-suggestion u {
    text-decoration: none;
    color: #aa2121;
}

.GlobalEstInvCustSearchDiv .tt-suggestion.active {
    background-color: #f2f2f2;
}

.GlobalEstInvCustSearchDiv .tt-sug-desc {
    width: 100%;
    color: #999;
    padding-top: 2px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.GlobalEstInvCustSearchDiv .tt-sug-type {
    position: absolute;
    right: 17px;
    top: 11px;
    color: #999;
    font-style: italic;
}

.GlobalEstInvCustSearchDiv .tt-eq-price {
    float: right;
}

.GlobalSearchNavbarUl {
    width: 28%;
    float: right;
    padding-top: 7px;
}

.GlobalSearchInp {
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.src-cls {
    padding: 7px;
}

.src-logo {
    padding: 7px;
}

.navbar-brand {
    padding: 8px 15px;
}

.nav > li > .clock_in_color,
.nav > li > .clock_in_color:hover {
    color: #2ca01c !important;
}

.nav > li > .clock_out_color, 
.nav > li > .clock_out_color:hover,
.nav > li > .clock_out_color:focus {
    color: #f99296 !important;
}
.green-tooltip + .tooltip > .tooltip-inner{
    background-color: #2ca01c; 
}
.navbar-top-links .tooltip{
    min-width:180px;
}
.clock_tooltip_div {
    display:none;
      position: absolute;
    background-color: #2ca01c;
    text-align: center;
    font-size: 12px;
    color: #fff;
    width: 170px;
    right: -60px;
    top: 58px;
    padding: 6px;
    border: 1px solid #000;
    border-radius: 4px;
}
.clock_tooltip_div:before {
    right: 74px;
    border-width: 6px;
    transform: rotate(180deg);
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #000 transparent;
    border-bottom: 0;
    top: -6px;
}

.clock_in_color:hover .clock_tooltip_div {
    display:block;
}
.panel-heading .row .col-xs-3 {
    padding-left:5px;
}
.panel-heading .row .col-xs-9 {
    padding-right:5px;
    padding-left:0px;
}
.dashboard_report .panel {
    margin-bottom:25px;
}
.page-header {
    margin: 5px 0 25px;
}
.customer_add_btn_div {
    margin-top:0px !important;
}
.right_side_menu_style .dropdown-menu {
    position:fixed;
    top:unset;
}

@media(max-width:768px) {
    .PrivateLayoutContents {
        margin-top: -53px;
    }

    .dropdown-alerts {
        width: 766px !important;
        right: -194px !important;
        left: auto !important;
    }

    .dropdown-search {
        width: 766px !important;
        padding-bottom: 35px !important;
        left: -576px !important;
    }

    

    .arrow_top_create {
        right: 216px;
    }

    .arrow_top_search {
        right: 150px;
    }

    .arrow_top_settings {
        right: 200px;
    }
   
    .arrow_top_help {
        right: 20px;
    }

    #page-wrapper {
        position: relative;
        top: 54px;
    }

    .Top-Logo {
        display: none;
    }

    .GlobalSearchNavbarUl {
        display: none;
    }

    .ChooseCompanyUl {
        margin-left:15px;
    }

    .navbar-default.sidebar .sidebar-nav {
        top: 52px;
        position: absolute;
        background: white;
        z-index: 999;
        width: 100%;
    }
}

@media(max-width:414px) {
   
     .PrivateLayoutContents {
        margin-top: 0px;
    }
    .PrivateLayoutContents .ChooseCompanyLi {
        width:100px;
    }
    .PrivateLayoutContents .ChooseCompanyLi select {
        padding:6px 0px;
    }
    .PrivateLayoutContents .navbar-top-links li a {
        padding:15px 6px;
    }
    .loged_info_user {
        width:100%;
        float:none;
    }
    .dropdown_notification  {
        width: 412px;
    }
    .overflow_style {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 348px;
        position:relative;
    }

    .popup_text_header {
        margin-top: 5px !important;
    }

    .popup_text_subHeader {
        padding-top: 0px !important;
        padding-left: 13px;
    }

    .MenuContents {
        padding-left: 10px !important;
        width: 100%;
        padding-right: 10px;
    }

    .submenu_mobile {
        width: 50% !important;
        float: left !important;
    }
   
    .submenuhead {
        padding: 3px 0px !important;
        background-color: #f1f1f1;
    }
    /*.submenuelement {
        padding-left:0px !important;
    }*/
    .element_mobile {
    }

    .dropdown-alerts {
        width: 410px !important;
        right: -252px !important;
        left: auto !important;
    }

    .dropdown-search {
        width: 411px !important;
        padding-bottom: 35px !important;
        left: -163px !important;
    }

   

    .arrow_top_create {
        right: 278px;
    }

    .arrow_top_search {
        right: 209px;
    }

    .arrow_top_settings {
        right: 261px; /*done*/
    }
   
    .arrow_top_help {
        right: 82px;
    }

    .width-25p {
        width: 35%;
        float: left;
    }

    .width-55p {
        width: 45%;
        float: left;
    }

    .width-20p {
        width: 20%;
        float: left;
    }
}

@media(max-width:375px) {
   
    .dropdown_notification .arrow_top_settings {
    right: 153px;
}
    .MenuContents {
        padding-left: 10px !important;
        width: 100%;
    }

    .mobile_content {
        width: 100%;
    }

    .submenu_mobile {
        width: 50% !important;
        float: left !important;
    }

    .popup_text_subHeader {
        font-size: 13px;
        font-weight: bold;
    }

    .dropdown-alerts {
        width: 373px !important;
        right: -253px !important;
    }

    .dropdown-search {
        width: 374px !important;
        left: -124px !important;
    }

   
   

    .arrow_top_create {
        right: 278px;
    }

    .arrow_top_search {
        right: 209px;
    }

    .arrow_top_settings {
        right: 262px;
    }

    .arrow_top_help {
        right: 82px;
    }
}

@media(max-width:360px) {
  
   .dropdown_notification {
    left: -122px;
    width: 358px;
}
}

@media(max-width:350px) {
    .navbar-top-links li:last-child {
        margin-right: 0px;
    }
}

@media(max-width:320px) {
     .PrivateLayoutContents .ChooseCompanyLi {
        width:80px;
    }
    .dropdown_notification {
    left: -88px;
    width: 318px;
}
    .MenuContents {
        padding-left: 10px !important;
        width: 100%;
    }

    .mobile_content {
        width: 100%;
    }

    .submenu {
        width: 50% !important;
        float: left !important;
    }

    .submenu_mobile {
        width: 50% !important;
        float: left !important;
    }

    .popup_text_subHeader {
        font-size: 13px;
        font-weight: bold;
    }

    .border-radius-0 {
        border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        padding: 0px !important;
    }

    .width-25p {
        width: 31%;
        float: left;
    }

    .width-55p {
        width: 49%;
        float: left;
    }

    .dropdown-alerts {
        width: 318px !important;
        right: -247px !important;
    }

    .dropdown-search {
        width: 318px !important;
        left: -75px !important;
    }

    .dropdown_help {
        width: 318px !important;
        left: -203px !important;
    }

    .arrow_top_create {
        right: 278px;
    }

    .arrow_top_search {
        right: 209px;
    }

    .arrow_top_settings {
        right: 255px;
    }

    .arrow_top_help {
        right: 82px;
    }

    .help_image {
        width: 126px;
        top: 26px;
        right: 18px;
    }

    .popup_text_header_help {
        padding-bottom: 0px;
    }
}
