
.TopToBottomModal {
    display: none;
}

.TopToBottomModal {
    position: fixed;
    width: 80%;
    margin-left: 10%;
    left: 0;
    top: 0;
    z-index: 9999;
    background-color: #ffffff;
}

.modal_transparent_bg {
    float: left;
    height: 100%;
    background-color: #565555;
    opacity: 0.9;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
}

.top_to_bottom_modal_container {
    width: 100%;
    margin: auto;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: #ffffff;
}

.TopToBottomModal .invoice-loader {
    padding-top: 50px;
}

.close-div {
    position: absolute;
    right: 0;
    padding: 8px;
    cursor: pointer;
    margin-right: 10px;
    z-index: 12;
}

.close_btn_size {
    height: 20px;
    width: 20px;
}

/*//New*/
.closenew {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

    .closenew:focus, .closenew:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        filter: alpha(opacity=50);
        opacity: .5;
    }

button.closenew {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.success-body {
    padding-left: 15px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.others-body {
    padding-left: 15px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.CustomerCancel {
    height: 110px !important;
    width: 95% !important;
}

.message_header_container {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    position: relative !important;
}

.message_header_border {
    width: 100%;
    float: left;
    margin-top: 27px;
}

.message_header_title {
    position: absolute;
    top: 41px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto !important;
    background-color: #fff;
    font-size: 24px;
    width: fit-content;
    width: -moz-fit-content;
    padding: 0px 15px;
}
.InvTitle{
    text-align:left;
    float:left;
    font-weight:bold;

}
.message_middle_icon_div {
    width: 100%;
    float: left;
    padding-bottom: 10px;
}

.message_middle_icon {
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 26px;
}

.message_content_div {
    width: 100%;
    float: left;
    text-align: center;
    padding-right: 15px;
    margin-top: 0px !important;
}

    .message_content_div .cus-body p {
        font-size: 14px;
    }

#ModalSuccessMessage .message_header_border {
    border-bottom: 1px solid #5cb85c;
}

#ModalSuccessMessage .message_middle_icon {
    background-color: #5cb85c;
}

#ModalSuccessMessage .message_header_title {
    color: #5cb85c;
}

#ModalConfirmationMessage .message_header_border {
    border-bottom: 1px solid #f0ad4e;
}

#ModalConfirmationMessage .message_middle_icon {
    background-color: #f0ad4e;
}

#ModalConfirmationMessage .message_header_title {
    color: #f0ad4e;
}

#ModalErrorMessage .message_header_border {
    border-bottom: 1px solid #d9534f;
}

#ModalErrorMessage .message_middle_icon {
    background-color: #d9534f;
}

#ModalErrorMessage .message_header_title {
    color: #d9534f;
}

.modal-header .modalCloseBtn {
    margin-top: -2px;
}

button.modalCloseBtn {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.modalCloseBtn {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

@media (max-width:768px) {
    .TopToBottomModal {
        width: 100%;
        margin-left: 0px;
    }
}
