
@{
    ViewBag.Title = "Login";
    Layout = null;
}

@*@{
        ViewBag.Title = "Login";
        Layout = null;
    }
    <link href="~/Content/Login/importcss1.css" rel="stylesheet" />
    <link href="~/Content/Login/importcss2.css" rel="stylesheet" />
    <link href="~/Content/Login/Login.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="/Content/Css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Css/style4.css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/Content/Js/modernizr.custom.86080.js"></script>
    <script src="~/Content/Js/Login/loginAjax.js"></script>
    <script src="~/Content/Js/Site/Validation.js"></script>

    <script>

    </script>
    @*<div class="body"></div>
        <div class="grad"></div>*@
@*<body id="page">
        <ul class="cb-slideshow">
            <li><span>Image 01</span><div></div></li>
            <li><span>Image 02</span><div></div></li>
            <li><span>Image 03</span><div></div></li>
            <li><span>Image 04</span><div></div></li>
            <li><span>Image 05</span><div></div></li>
            <li><span>Image 06</span><div></div></li>
        </ul>
    </body>
    <div class="header">
        <div>Fleet<span>Management</span></div>
    </div>
    <br>
    <div class="login">
        <input type="text" id="UserName" placeholder="username" name="user"><br>
        <input type="password" id="Pass" placeholder="password" name="password"><br>
        <input type="button" id="Login" value="Login">
    </div>*@


@*########################New Home Page#############################*@

<html class="js cssanimations gr__localhost">
<head>
    <link href="/Content/Login/importcss1.css" rel="stylesheet">
    <link href="/Content/Login/importcss2.css" rel="stylesheet">
    <link href="/Content/Login/Login.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/Content/Css/demo.css">
    <link rel="stylesheet" type="text/css" href="/Content/Css/style4.css">
    <script src="/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/Content/Js/modernizr.custom.86080.js"></script>
    <script src="/Content/Js/Login/loginAjax.js"></script>
    <script src="/Content/Js/Site/Validation.js"></script>

    <script>

    </script>

</head>

<body id="page" data-gr-c-s-loaded="true" style="background-color: #6b3535">
    <div class="lds-css ng-scope">
        <div style="width:100%;height:100%;display:none" class="LoaderLoginDiv lds-double-ring"><div></div><div></div><div><div></div></div><div><div></div></div></div>
        <style type="text/css">
            @@keyframes lds-double-ring {
                0% {
                    -webkit-transform: rotate(0);
                    transform: rotate(0);
                }

                100% {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }

            @@-webkit-keyframes lds-double-ring {
                0% {
                    -webkit-transform: rotate(0);
                    transform: rotate(0);
                }

                100% {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }

            @@keyframes lds-double-ring_reverse {
                0% {
                    -webkit-transform: rotate(0);
                    transform: rotate(0);
                }

                100% {
                    -webkit-transform: rotate(-360deg);
                    transform: rotate(-360deg);
                }
            }

            @@-webkit-keyframes lds-double-ring_reverse {
                0% {
                    -webkit-transform: rotate(0);
                    transform: rotate(0);
                }

                100% {
                    -webkit-transform: rotate(-360deg);
                    transform: rotate(-360deg);
                }
            }

            .lds-double-ring {
                position: relative;
            }

                .lds-double-ring div {
                    box-sizing: border-box;
                }

                .lds-double-ring > div {
                    position: absolute;
                    width: 168px;
                    height: 168px;
                    top: 16px;
                    left: 16px;
                    border-radius: 50%;
                    border: 8px solid #000;
                    border-color: #408545 transparent #408545 transparent;
                    -webkit-animation: lds-double-ring 1.5s linear infinite;
                    animation: lds-double-ring 1.5s linear infinite;
                }

                    .lds-double-ring > div:nth-child(2),
                    .lds-double-ring > div:nth-child(4) {
                        width: 148px;
                        height: 148px;
                        top: 26px;
                        left: 26px;
                        -webkit-animation: lds-double-ring_reverse 1.5s linear infinite;
                        animation: lds-double-ring_reverse 1.5s linear infinite;
                    }

                    .lds-double-ring > div:nth-child(2) {
                        border-color: transparent #0dde3c transparent #0dde3c;
                    }

                    .lds-double-ring > div:nth-child(3) {
                        border-color: transparent;
                    }

                        .lds-double-ring > div:nth-child(3) div {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }

                            .lds-double-ring > div:nth-child(3) div:before,
                            .lds-double-ring > div:nth-child(3) div:after {
                                content: "";
                                display: block;
                                position: absolute;
                                width: 8px;
                                height: 8px;
                                top: -8px;
                                left: 72px;
                                background: #408545;
                                border-radius: 50%;
                                box-shadow: 0 160px 0 0 #408545;
                            }

                            .lds-double-ring > div:nth-child(3) div:after {
                                left: -8px;
                                top: 72px;
                                box-shadow: 160px 0 0 0 #408545;
                            }

                    .lds-double-ring > div:nth-child(4) {
                        border-color: transparent;
                    }

                        .lds-double-ring > div:nth-child(4) div {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }

                            .lds-double-ring > div:nth-child(4) div:before,
                            .lds-double-ring > div:nth-child(4) div:after {
                                content: "";
                                display: block;
                                position: absolute;
                                width: 8px;
                                height: 8px;
                                top: -8px;
                                left: 62px;
                                background: #0dde3c;
                                border-radius: 50%;
                                box-shadow: 0 140px 0 0 #0dde3c;
                            }

                            .lds-double-ring > div:nth-child(4) div:after {
                                left: -8px;
                                top: 62px;
                                box-shadow: 140px 0 0 0 #0dde3c;
                            }

            .lds-double-ring {
                width: 200px !important;
                height: 200px !important;
                -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
                transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
            }
        </style>
    </div>
    <div class="login">
        <div class="header">
            <div>Inventory <span>Management</span></div>
        </div>

        <input type="text" id="UserName" placeholder="username" name="user"><br>
        <input type="password" id="Pass" placeholder="password" name="password"><br>
        <input type="button" id="Login" value="Login" class="btn btn-default">
    </div>




</body>
@*<span class="gr__tooltip"><span class="gr__tooltip-content"></span><i class="gr__tooltip-logo"></i><span class="gr__triangle"></span></span>*@
</html>






